<p id="notice"><%= notice %></p>

<h1>Suggests</h1>

<table>
  <thead>
    <tr>
      <th>Sname</th>
      <th>Sdate</th>
      <th>Stime</th>
      <th>Splace</th>
      <th>Sarea</th>
      <th>Saddress</th>
      <th>Sphone</th>
      <th>Sdescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggests.each do |suggest| %>
      <tr>
        <td><%= suggest.sname %></td>
        <td><%= suggest.sdate %></td>
        <td><%= suggest.stime %></td>
        <td><%= suggest.splace %></td>
        <td><%= suggest.sarea %></td>
        <td><%= suggest.saddress %></td>
        <td><%= suggest.sphone %></td>
        <td><%= suggest.sdescription %></td>
        <td><%= link_to 'Show', suggest %></td>
        <td><%= link_to 'Edit', edit_suggest_path(suggest) %></td>
        <td><%= link_to 'Destroy', suggest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggest', new_suggest_path %>
