<p id="notice"><%= notice %></p>

<p>
  <strong>Sname:</strong>
  <%= @suggest.sname %>
</p>

<p>
  <strong>Sdate:</strong>
  <%= @suggest.sdate %>
</p>

<p>
  <strong>Stime:</strong>
  <%= @suggest.stime %>
</p>

<p>
  <strong>Splace:</strong>
  <%= @suggest.splace %>
</p>

<p>
  <strong>Sarea:</strong>
  <%= @suggest.sarea %>
</p>

<p>
  <strong>Saddress:</strong>
  <%= @suggest.saddress %>
</p>

<p>
  <strong>Sphone:</strong>
  <%= @suggest.sphone %>
</p>

<p>
  <strong>Sdescription:</strong>
  <%= @suggest.sdescription %>
</p>

<%= link_to 'Edit', edit_suggest_path(@suggest) %> |
<%= link_to 'Back', suggests_path %>
