<div class="container">
<%= form_for @event, html: { multipart: true } do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date, class:"formss" %>
  </div>
	
  <div class="field">
    <%= f.label :event_time %><br>
    <%= f.time_select :event_time, class:"formss", discard_date: true, discard_timezone: true %>
  </div>

  <div class="field">
    <%= f.label "State" %><br>
    <%= f.text_field :place, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label "city" %><br>
    <%= f.text_field :area, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <br><br>
  <%if user_signed_in?%>
	<%if current_user.admin == true%>
	  <div class="field">
		<%= f.label :confirmed %><br>
		<%= f.check_box :confirmed, {}, "true", "false"%>
	  </div>
	<%end%>
  <%end%>
  <br>
  <%= recaptcha_tags %><br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>