<div id="display">
	<% @events.each do |event| %>
		<%if event.confirmed == true%>
			<div class="main">
				<div class="imagecontainer">
					<%= link_to (image_tag event.image.url(:medium)), event%>
				</div>
				<div class="details">
					<div class="title">
						<%=link_to event.name , event %> 
					</div>
					<div class="meh">
						<%= event.event_date %>
					</div>
					<div class="meh">
						<%=event.event_time%>
					</div>
					<div class="meh">
						<%=event.address%>
					</div>
				</div>
			</div>
		<%end%>
	<%end%>
</div>


<%#if event.event_date.strftime("%Y-%m-%d") == "2017-03-01"%>
<%#end%>