<div class="container" style="margin-left:150px; width: 1150px;">
	<h1>Approving page</h1>
	<hr>
	<% x = 0 %>
	<% @events.each do |event| %>
		<%if event.confirmed == false || event.confirmed == nil%>
			<div class="main">
				<div class="imagecontainer">
					<%= link_to (image_tag event.image.url(:medium)), edit_event_path(event)%>
				</div>
				<div class="details">
					<div class="title">
						<%=link_to event.name , event %> 
					</div>
					<div class="meh">
						<%= event.event_date %>
					</div>
					<div class="meh">
						<%=event.event_time.strftime("%H:%M:%S")%>
					</div>
					<div class="meh">
						<%=event.address%>
					</div>
					<%=link_to "Show", event%>&nbsp;||&nbsp;<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</div>
			<% x = x + 1 %>
		<%end%>
	<%end%>
	<%if x < 1 %>
		<h2>No Events Need Approval</h2>
	<%end%>
</div>
<br><br><br><br><br><br><br><br>