<div style="display: none;">
<a class="twitter-timeline" data-width="500" data-height="500" href="https://twitter.com/TamisDaus">Tweets by TamisDaus</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<%require "twitter"%>
<%client = Twitter::REST::Client.new do |config|%>
  <%config.consumer_key        = ENV['TWITTER_KEY']%>
  <%config.consumer_secret     = ENV['TWITTER_SECRET']%>
  <%config.access_token        = ENV['ACCESS_TOKEN']%>
  <%config.access_token_secret = ENV['ACCESS_SECRET']%>
<%end%>
<% @tweets = client.user_timeline("@TamisDaus").take(20)%>
<h2>Favorites here</h2>
<table>
	<tr>
		<td>
			tweet id
		</td>
		<td>
			tweets
		</td>
		<td>
			username
		</td>
	</tr>
		<% @tweets.each do |x| %>
	<tr>
		<td>
			<%=x.id %>
		</td>
		<td>
			<%= "-"+x.text %>
		</td>
		<td>
			<%= x.user.screen_name %>
		</td>
	</tr>
		<%end%>
</table>

	<%@tweets.each do |tweet|%>
		<div style="width: 100px; height: 100px; display: inline-block;">
			<%=image_tag(tweet.media[0]["media_url"]) if(tweet.media.present?)%>
		</div>
	<%end%>
	
<hr><hr><br><br>
<!-- bawah ni automation untuk tweet, amik data ,delete tweet and repost back -->
<div class="container">
	<%@tweets = client.favorites("@TamisDaus").take(2)%>
	<%@tweets.each do |c| %>
		<br>
		<% if c.text.include? "POST" %>
			<%= true %>
			<%# client.update("BERJAYA POST") %>
			<% aidis = c.id %>
			<% pas = c.text.split('+') %>
			<% pas.each do |x| %>
				<%= x %>
				<br>
			<%end%>
			<% content = pas[1] %>
			<%= content %>
			<% client.update(content) %>
			<% client.destroy_status(aidis) %>
		<%end%>
		
		<%# c.text %>
		
	<%end%>
</div>

<br><br><br><br>

<div class="container">
	<%#client = Instagram.client(:access_token => session[:access_token])%>
		<%#user = client.user%>
		<%#html = "<h1>#{user.username}'s recent media</h1>"%>
		<%#for media_item in client.user_recent_media%> 
		<!--<div style="float:left;"> -->
		<!--<img src="#{media_item.images.thumbnail.url}"> -->
		<!--<br/> -->
		<!--<a href="/media_like/#{media_item.id}">Like</a> -->
		<!--<a href="/media_unlike/#{media_item.id}">Un-Like</a> -->
		<!--<br/>LikesCount=#{media_item.likes[:count]}</div> -->
	<%#end%>
</div>

















